<table class="table table-hover">
  <thead>
    <tr>
      <td>Port</td>
      <td>Type</td>
      <td>Flux</td>
      <td>Libellé</td>
      <td>Terminal</td>
      <td>Pol / Pod</td>
      <td>Année</td>
      <td>Volume</td>
    </tr>
  </thead>
  <tbody>
    <% @movements.each do |movement| %>
    <tr>
      <td><%= movement.harbour.name %></td>
      <td><%= movement.type.code %></td>
      <td><%= movement.type.tot_imp_exp %></td>
      <td><%= movement.type.name %></td>
      <td><%= movement.terminal %></td>
      <td><%= movement.pol_pod %></td>
      <td><%= movement.date.strftime("%Y") %></td>
      <td><%= movement.volume %></td>
    </tr>
  </tbody>
  <% end %>
</table>
