<div class= "content">
<div class="row">
  <div class="col-xs-12 col-md-4">
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-1">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <td><%= t('.harbour') %></td>
          <td><%= t('.code') %></td>
          <td><%= t('.tot_imp_exp') %></td>
          <td><%= t('.type_name') %></td>
          <td><%= t('.terminal') %></td>
          <td><%= t('.pol_pod') %></td>
          <td><%= t('.date') %></td>
          <td><%= t('.volume') %></td>
        </tr>
      </thead>
      <tbody>
        <% @movements.each do |movement| %>
        <tr>
          <td><%= movement.harbour.name.capitalize %></td>
          <td><%= movement.type.code.upcase %></td>
          <!-- <td><%= movement.type.tot_imp_exp %></td> -->
          <td>
            <%= t("ar.attributes.type.tot_imp_exp.#{movement.type.tot_imp_exp}") %>
          </td>
          <!-- <td><%= movement.type.name %></td> -->
          <td>
            <%= t("types.type_name.#{movement.type.name}") %>
          </td>
          <td><%= movement.terminal.capitalize %></td>
          <td><%= movement.pol_pod.capitalize %></td>
          <td><%= movement.date.strftime("%Y") %></td>
          <td><%= movement.volume %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
